{% extends 'base.html' %}


{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}


    <div class="max-w-full h-75vh bg-center bg-cover" style="background-image: url({{flower.first_photo}})"></div>
    <div class="container mx-10 flex flex-col justify-between w-full">
        <span class="text-3xl mt-10">{{flower.name}}</span>
        <span class="text-medium mb-10">{{flower.created.date}}</span>
        <span class=" text-gray-700 font-light mb-10">{{flower.description}}</span>
    </div>


{% endblock content %}
    