[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-dotenv = "*"
gunicorn = "*"
sentry-sdk = "==0.13.2"

[dev-packages]
flake8 = "*"
black = "*"
awsebcli = "*"
pipenv-to-requirements = "*"

[requires]
python_version = "3.9"
